FLASK_APP=api.app
FLASK_ENV=development
API_URL=http://localhost:5000/api
OPENAI_API_KEY=sk-proj-XXXXXX
OPENAI_DEFAULT_MODEL=gpt-4o-mini
OPENAI_STRUCTURED_MODEL=
FIREBASE_CREDENTIALS=XXXXXX
REACT_APP_BACKEND_URL=http://localhost:5000/api
REDIS_URL=redis://localhost:6379
